{%extends 'layout.html'%}

{% block body%}
    <h1>User Login Page</h1>
    <form action="/valid_input" method='POST'>
        <br>
        <div>
            <label>Username:
                <input type="text" name="Username" value='{{username}}'/>
            </label>
            <span class = "error">{{ username_error }}</span>
        </div>
        <br>
        <div>
            <label>Password:
                <input type="password" name="password1" value='{{password1}}'/>
            </label>
            <span class = "error">{{ password1_error }}</span>
        </div>
        <br>
        <div>
            <label>Verify Password:
                <input type="password" name="password2" value='{{password2}}'/>
            </label>
            <span class = "error">{{ password2_error }}</span>
        </div>
        <br>
        <div>
            <label>Email (optional):
                <input type=text name="email" value='{{email}}'/>
            </label>
            <span class = "error">{{ email_error }}</span>
        </div>
        <br>
        <input type="submit" value="Sign up"/>
        
    </form>
{% endblock %}